html, body{
    margin: 0;
    padding: 0;
}

header {
    /*background-image: url('../images/backgroundsss.jpg');*/
    background-color:#E6E3E3;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120px;
    color: #fff;
}

nav  {
    padding: 0px;
    padding-top: 50px;
    padding-right: 50px; 
    float: right;
}



.hamburger-label{
   display: none;
}

#hamburger-menu{
    display: none;
}

.logo{
    width: 200px;
    height: 100px;
    padding-left: 50px;
    padding-top: 20px;
    margin-bottom: 10px;
}

body#home{
    background-image: url('../images/compass.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Bahnschrift',sans-serif;
    overflow-x: hidden;
}

li{
    display: inline;
    
}

nav a{
    padding: 10px; 
    font-size: 22px;
    text-decoration: none;
    color:#000;
    font-weight: lighter;
    
}

footer {
    max-width: 100%;
    background-color: #E6E3E3;
    margin-top: auto;
    height: 60px;
    padding-bottom: 7px;

}

.social {
    width: 30px;
    height: 30px;
    position: relative;
    left: 570px;
    padding-left: 150px;
    
}

.content{
    color: #fff;
    position: relative;
    top: 50px;
    left: 350px;
    
}

.content h1{
    font-size: 40px;
    font-weight: normal;
    
}

.content h2{
    font-size: 30px;
    position: relative;
    bottom: 25px;
    font-weight:lighter
    
}

.cta{
    color: #fff;
    font-size: 20px;
    border-radius: 0;
    padding: 12px 20px;
    position: relative;
    top: 20px;
    text-decoration: none;
    border: ridge #fff;
}

/* jackets page */ 
body#jackets{
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-position: top;
    font-family: 'Bahnschrift',sans-serif;
    color: #707070;
    overflow-x: hidden;
}

body#jackets h2,p{
    font-weight: lighter;
}

 body#jackets p{
     position: relative;
     bottom: 20px;
 }

.jackets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    margin: 50px auto;
    grid-gap: 80px;
}

.jackets h1{
    grid-column: -1/1;
    font-weight: normal;
    font-size: 30px; 
}

.jackets img{
    width: 100%;
}

.buy{
    text-decoration: none;
    color: #7C846E;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    bottom: 35px;
    font-weight: normal;    
}

.jack{
    position: relative;
    right: 20px;
}

/*buy page*/
body#buy{
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-position: top;
    font-family: 'Bahnschrift',sans-serif;
    color: #707070;
    overflow-x: hidden;
 }

.content1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1500px;
    margin: 50px auto;
    grid-gap: 40px;
    top: 40px;
    position: relative;
}

.content1 p{
    position: relative;
    bottom: 15px;
}

.jackets2 h1{
    font-weight: lighter;

}

.content1 img{
    width: 100%;

}
    
.content1 ul{
    position: relative;
    right: 40px;
    font-weight: lighter;
    letter-spacing: 15px;
    bottom: 10px;
    
}

.cart{
    text-decoration: none;
    color:#fff;
    background-color: #7C846E;
    border: none;
    font-size: 20px;
    padding: 20px 90px;
    position: relative;
    top: 40px;
    text-align: center;
    
}

.square{
    border: 2px solid;
    
}

/*purchase page*/
body#purchase{
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-position: top;
    font-family: 'Bahnschrift',sans-serif;
    color: #707070; 
    overflow-x: hidden;
}

.purchase{
    position: relative;
    text-align: center;
    top: 40px;
    
}

.purchase img{
    max-width:100%;
    height: auto;
}

.purchase1{
    position: relative;
    text-align: center;
    top: 100px;
    
    

}

.purchase1 img{
    max-width: 4%;
    height: auto;
    
}

.purchase a{
    text-decoration: none;
    color: #fff;
    background-color: #7C846E;
    padding: 15px 20px;
    position: relative;
    top: 20px;
    
}

.subscribe{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.subscribe1{
    max-width: 500px;
    width: 100%;
    position: relative;

}

.subscribe1 .input{
    width: 100%;
    padding: 5px 10px 5px 40px;
    outline: none;
   
    
}

.subscribe1 img{
    position: relative;
    bottom: 24px;
    right: 230px;

    
}

 .sub{
    max-width: 100%;
    width: 86px;
    position: relative;
    bottom: 50px;
    left: 428px;
    background-color: #7C846E;
    padding: 5px 20px;
    color: #fff;
    cursor: pointer;
   
   
}

/*about page*/
body#about{
    background-image: url('../images/climbing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Bahnschrift',sans-serif;
    overflow-x: hidden;
    
}

.about {
    position: relative;
    left: 100px;
    top: 50px;
    max-width: 100%;
    
}

.about h1{
    font-weight: lighter;
}
.about p {
    width: 20%;
    letter-spacing: 2px;
}

.about a{
    text-decoration: none;
    color: #C51B06;
}
/*contact page*/
body#contact{
    background-image: url('../images/ski.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Bahnschrift',sans-serif;
    background-position:center;
    color: #fff;
    overflow-x: hidden;
}

.contact h1{
    font-size: 30px;
    font-weight: normal;
}

.contact h2 {
    font-size: 25px;
    font-weight: normal;
}

.contact h3{
    font-weight: lighter;
    font-size: 18px;
    position: relative;
    bottom:18px;
}

.contact h4 {
    font-size: 20px;
    font-weight: normal;
}

.contact h5{
    font-size: 15px;
    font-weight: lighter;
    position: relative;
    bottom: 18px;
}

.contact h6{
    font-size: 20px;
    font-weight: normal;
    background: #7C846E;
    width: 100px;
    padding: 10px 20px;
    cursor: pointer;
}
.based{
    bottom: 325px;
    position: relative;
    left: 280px;
}
.contact{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50px;
    
}
.contact2 input{
    display: block;
    outline: none;
    border: none;
    border-bottom:1px solid #000;
    background: rgba(0, 0, 0, 0 );
    color: #fff;
    border-color: ghostwhite;
    padding: 10px 0 10px 0;
    width: 170px;
    max-width: 100%;
    
}
/*shoppingcart page*/
body#shoppingcart{
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-position: top;
    font-family: 'Bahnschrift',sans-serif;
    color: #707070;
    overflow-x: hidden;
}

.jackets3{
   
    max-width: 20%;
    float: left;
    position: relative;
    top: 40px;
    
    
}
.jackets3 img{
    max-width: 100%;
}

.jackets3 h1{
    position: relative;
    left: 80px;
    font-weight: normal;
    font-size: 35px;
    bottom: 20px;
}
.text{
    float: left;
    position: relative;
    left: 140px;
    top: 140px;
}

.text ul{
    position: relative;
    right: 40px;
    bottom: 20px;
    
   
}

.text p{
    position: relative;
    
    
    
}
.jackets4{
    position: relative;
    float: right;
    right: 600px;
    top: 50px;
    
}

.jackets4 h1{
    font-size: 35px;
    font-weight: normal;
    position: relative;
    bottom: 30px;
    
}

.jackets4 h2{
    position: relative;
   font-weight: lighter;
   font-size: 20px;
}

.jackets4 p{
    position: relative;
    top: 30px;
    border-bottom:1px solid #000;
}

.jackets4 a{
    position: relative;
    top: 100px;
    font-size: 20px;
}
.check{
    text-decoration: none;
    color: black;
    background-color: #F67121;
    padding: 10px 20px;
}

@media screen and (max-width: 600px) {
    body#home {
        background-image: url('../images/backgroundmobile.jpg');
        background-position: top;
        
        
    }

    header{ 
        background-image: url('../images/headerbackground.jpg');
        min-height: 5px;

    }
    .logo{
        width: 115px;
        height: 70px;
        position: relative;
        right: 20px;
        bottom: 15px;
        
    }

    .content{
        color: #fff;
        position: relative;
        top: 0;
        left: 10px;
    }

    .content h1{
        font-size: 30px;
        
    }
    
    .content h2{
        font-size: 25px;
       
        
    }
    
    .cta{
        
        font-size: 15px;
        border-radius: 25px;
    }
    

    .social {
        width: 30px;
        height: 30px;
        position: relative;
        left: -55px;
        padding-left: 90px;
        
    }

    #hamburger-menu{
        display: none;
    }
    
    #hamburger-menu:checked ~ nav {
        display: block;
    }
    
    .hamburger-label{
        float: right;
        padding: 10px;
        font-size: 1.5em;
        display: block;
        position: relative;
        top: 20px;
    }

    nav{
        display: none;
        padding: 0px;
        position: relative;
        padding-right: -5px; 
        float: right;
        bottom: 60px;
        
        
        
    }

    /*jackets page*/
    .jackets {
        position: relative;
        left: 20px;
       
        grid-template-columns: repeat(2, 1fr);
        
        }

        /*buy page*/ 
        .content1{
           grid-template-columns: none;
           left: 100px;
           max-width: 100%;
           
        }

        .cart{
            text-decoration: none;
            color:#fff;
            background-color: #7C846E;
            border: none;
            font-size: 10px;
            padding: 10px 30px;
            position: relative;
            top: 10px;
            text-align: center;
            left: 45px;
            border-radius: 25px;
            
        }

        .content1 img{
            width: 50%;
        
        }

        .jackets2{
            position: relative;
            bottom: 30px;
            left: 10px;
        }

        .jackets2 h2, h3, li{
            font-size: 15px;
        }

        .jackets2 h1 {
            font-size: 20px;
        }

        /*shoppingcart page*/ 

        
        .jackets4 h1 {
            position: relative;
            left: 300px;
            font-size: 15px;
            bottom: 20px;
            
            
            
        }

        .jackets4 h2 {
            position: relative;
            left: 300px;
            font-size: 10px;
            bottom: 20px;
            
            
        }

        .jackets4 p {
            position: relative;
            left: 300px;
            font-size: 10px;
            bottom: 300px;
            top:0;
                     
            
        }
        .jackets4 a {
            position: relative;
            left: 300px;
            font-size: 12px ;
            top: 0;
            
        }

        .check{
            padding: 5px 10px;
            border-radius: 25px;

          }  

          .jackets4 img {
              width: 18%;
          }
            
            .jackets3{
            max-width: 100%; 
           
            }

        .jackets3 h1{
            font-size: 20px;
            
            left: 10px;
            bottom: 40px;
            
        }

        .text ul {
            font-size: 20px;
            bottom: 300px;
            left: 100;
            position: relative;

           
            
        }

        .text h1{
            font-size: 15px;
            bottom: 300px;
            position: relative;
            left:100;
         
            
        }

        .text p {
            font-size: 15px;
            bottom: 300px;
            position: relative;
           
        }

        .jackets3 img{
            max-width: 30%;
            left: 10px;
            position: relative;
            bottom: 30px;
            
            
           
        }

        /* purchase page*/

        .subscribe1 .input{
            width: 70%;
            border-radius: 25px;
            
        }

        .purchase1 img {
            max-width: 10%;
            height: auto;
            
        }

        .img img {
            max-width: 5%;
            position: relative;
            right: 160px;
            
        }

        .sub {
            left: 320px;

        }

        .purchase a{
            border-radius: 25px;
        }

        .sub{
            border-radius: 25px;
        }


       /*about page*/
       .about p {
        width: 90%;
        letter-spacing: 2px;
        bottom: 20px;
        position: relative;
    }

    .about {
        position: relative;
        left: 20px;
        top: 10px;
        max-width: 100%;
        
    }

    .about h1{
        bottom: 10px;
        position: relative;
    }
    
    /*contact page*/

    .contact {
        max-width: 40%;
    }

    .contact h6{
        border-radius: 25px;
    }






    
}
