/* jackets page */ 
body#jackets{
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-position: top;
    font-family: 'Bahnschrift',sans-serif;
    color: #707070;
    overflow-x: hidden;
}

body#jackets h3,p{
    font-weight: lighter;
}

body#jackets h3 {
    font-size: 18px;
}

 /*body#jackets p{
    margin-bottom: 30px;
   color:red;
     
 }*/

 .himalaya-jacket{
     text-decoration: none;
     color: rgba(0, 0, 0, 0.704);
     font-size: 20px;
     
     
}

.himalaya-jacket:hover {
    border-bottom: 1px ridge black;
    cursor: pointer;
    
    
    
}

.jackets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1500px;
    margin: 50px auto;
    grid-gap: 80px;
}

.jackets h1{
    grid-column: -1/1;
    font-weight: normal;
    font-size: 30px; 
    margin-left: 20px;
}

.jackets img{
    width: 100%;
}

.buy{
    text-decoration: none;
    color: #7C846E;
    font-weight: bold;
    font-size: 20px;
    font-weight: normal;  
    padding: 10px 15px;
    border-radius: 15px;
    
    
}

.buy:hover{
    background-color: #bdbaba;
    border-radius: 15px;
    color: #fff; 
    transition: all 1s;
}

.jackets-rain {
    text-align: center;
    
}

.jack:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 1s;
    cursor: pointer;
}

.regular-price{
    text-decoration: line-through;
}

.sale-price{
    margin-top: -10px;
    padding-bottom: 20px;
    
}

