/*shoppingcart page*/
body#shoppingcart{
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-position: top;
    font-family: 'Bahnschrift',sans-serif;
    color: #707070;
    overflow-x: hidden;
}

.content2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1500px;
    margin: 50px auto;
    grid-gap: 80px;
    color: #000;
}

.Shoppingcart-h1{
    grid-column: -1/1;
    font-size: 25px;
    border-bottom:1px solid grey;
    font-weight: normal;
    padding-bottom: 20px;
}

.jackets3 {
    max-width:550px;
    border-bottom:1px solid grey;
    padding-bottom:-50;
}

.jackets3 img{
    width: 40%;
    float: left;
}

.jackets3 h2{
    font-weight: lighter;
    font-size: 20px;
}


.text{
    float: right;
    margin-left: 20px;
}

.jackets4{
    max-width: 550px;
}

.payment-info{
    border-radius: 10px;
    padding: 5px;
    background-color: #E6E3E3;
}

.jackets4 h3{
    grid-column: -1/1;
    font-size: 23px;
    font-weight: normal;
    padding-bottom: 20px;
}

.jackets4 h2{
    font-weight: lighter;
    font-size: 20px;
}

.jackets4 a{
    font-size: 15px;
}

.checkout{
    text-decoration: none;
    color: black;
    background-color: #F67121;
    padding: 4px;
    border-radius: 5px;
    justify-content:space-between;
    display: flex;
    width: 130px;
}

.checkout:hover{
    transition: all 1s;
    background-color: #fa863d;
}

.total {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.total p{
margin-top: 5px;  
font-size: 20px;
}

.costs{
    text-align: right;
    
}

.form__input {
    display: block;
    width: 200px;
    border-radius: 10px;
    padding: 10px; 
    border: 0; 
    margin: 10px 0;
    outline: none;
}

fieldset{
    border:0;
    padding-left: 0;

}





